/* Stream Player */
.stream-player {}
.stream-player .icon {
	cursor: pointer;
}
.stream-player .controls {
	/*background: orange;*/

	color: #555;
	height: 30px;
	position: relative;
    width: 100%;
}
.stream-player .controls .playback-buttons {
	/*background: green;*/

    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
}
.stream-player .controls .playback-buttons span.icon {
	background: white;

    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 20px;
}
.stream-player .controls .playback-buttons .stop {}
.stream-player .controls .playback-buttons .play-pause {}
.stream-player .controls .playback-buttons .play-pause .play {}
.stream-player .controls .playback-buttons .play-pause .pause {
	display: none;
}
.stream-player .controls .time-bar {
	background: white;

    font-size: 13px;
    height: 30px;
    left: 20px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 100px;
}
.stream-player .controls .time-bar .time-status {}
.stream-player .controls .time-bar .time-status {}
.stream-player .controls .time-bar .time-status span {}
.stream-player .controls .time-bar .time-status time {}
.stream-player .controls .time-bar .time-status time.played {}
.stream-player .controls .time-bar .time-status time.total {}
.stream-player .controls .progress-bar {
	background: white;

    bottom: 0;
    left: 122px;
    position: absolute;
    right: 34px;
    top: 0;
}
.stream-player .controls .progress-bar div[class|="time"] {
	cursor: pointer;
}
.stream-player .controls .progress-bar div[class|="time"]:not(.time-position) {
	height: 2px;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
}
.stream-player .controls .progress-bar .time-total {
	background: #ddd;
    width: 100%;
}
.stream-player .controls .progress-bar .time-loaded {
	background: #bbb;
	width: 75%;
}
.stream-player .controls .progress-bar .time-played {
	background: #888;
	width: 0%;
}
.stream-player .controls .progress-bar .time-position {
	background: #518536;
	border-radius: 8px;
	height: 15px;
	left: 0%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 15px;
}
.stream-player .controls .volume {
	background: white none repeat scroll 0 0;

    bottom: 0;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
.stream-player .controls .volume input[type=range] {
	display: none;
}
.stream-player .controls .volume .volume-control {}
.stream-player .controls .volume .volume-control .icon {
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}
.stream-player .controls .volume .volume-control .icon.ion-volume-high {}
.stream-player .controls .volume .volume-control .icon.ion-volume-medium {
	display: none;
}
.stream-player .controls .volume .volume-control .icon.ion-volume-low {
	display: none;
}
.stream-player .controls .volume .volume-control .icon.ion-volume-mute {
	display: none;
}